.home {
  display: flex;
  gap: 0.5vw;
  flex-wrap: wrap;
  justify-content: center;
}

.single-post-container {
  background-color: var(--color-5);
  width: clamp(280px, 20%, 1200px);
  border: none;
  border-radius: 0.5rem;
  padding: 1vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* max-height: 70vh; */
}

/* .single-post-text::-webkit-scrollbar {
  display: none;
} */

.single-post-img-div {
  display: flex;
  justify-content: center;
}

.single-post-img {
  width: 95%;
  border-radius: 1rem 0.5rem;
}

.single-post-text {
  word-wrap: break-word;
  /* height: auto; */
  max-height: 30vh;
  /* width: 100%; */
  overflow: hidden;
  -ms-overflow-style: none;
  /* scrollbar-width: none; */
  overflow-y: auto;
  font-size: calc(10px + 1vmin);
}

.single-post-title h2 {
  color: var(--color-4);
  text-align: left;
  font-size: calc(13px + 2vmin);
}

.single-post-author-name h3 {
  color: var(--color-1);
  text-align: right;
  font-size: calc(10px + 1.2vmin);
}

.icon-div {
  display: flex;
  justify-content: space-between;
}

.delete-button-div,
.edit-button-div {
  text-align: right;
}

.delete-button,
.edit-button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: calc(13px + 2vmin);
}

.edit-button {
  transform: rotateY(3.142rad);
}
