* {
  /* border: 1px solid black; */
  font-size: calc(10px + 2vmin);
  font-family: 'Exo', sans-serif;
}

[theme='a'] {
  --color: #45333a;
  --color-2: #825b4a;
  --color-3: #a29e8e;
  --color-4: #eee6e2;
  --color-5: #6d692f;
}

[theme='b'] {
  --color: #eee6e2;
  --color-2: #a29e8e;
  --color-3: #6d692f;
  --color-4: #13160d;
  --color-5: #45333a94;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  background-color: var(--color);
  width: clamp(350px, 99%, 1200px);
}

.header-title h1 {
  color: var(--color-4);
  text-align: center;
  font-size: calc(15px + 3vmin);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3%;
}

.navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 3%;
  background-color: var(--color-5);
  color: var(--color-4);
  border-radius: 1rem 0.5rem;
}

.main {
  padding-left: 3vw;
  padding-right: 3vw;
  min-height: calc(65vh - 50px);
}

.create-title {
  padding-left: 3vw;
  padding-right: 3vw;
}

.create-title h2 {
  color: var(--color-3);
  text-align: left;
  font-size: calc(13px + 2vmin);
}

.create-post-inputs {
  padding-left: 3vw;
  padding-right: 3vw;
}

.input-title-div,
.input-text-div {
  color: var(--color-3);
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 1vw;
}

.post-title-input-box,
.post-text-input-area {
  width: 95%;
  padding: 1vw;
  border: none;
}

.post-text-input-area {
  height: 20vh;
}

.submit-button-div {
  padding: 1vw;
  text-align: right;
}

.footer {
  color: var(--color-4);
  text-align: center;
}

.portfolio-link {
  text-decoration: none;
  color: var(--color-5);
  font-weight: bolder;
}

.button {
  padding: 3%;
  background-color: var(--color-5);
  color: var(--color-4);
  cursor: pointer;
  border: none;
  border-radius: 1rem 0.5rem;
}

.button:hover,
a:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.button:active,
a:active {
  background-color: #eeeeee;
}

.button:focus,
a:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
